* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: darkgray;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(80px, auto);
    gap: 15px 15px ;
    grid-template-areas: 
    "itemh itemh itemh"
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item6"
    "itemf itemf itemf";
}

.item {
    background: #fff;
    border: 2px solid black;
    padding: 10px;
    

}

.itemh {
   grid-area: itemh;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.itemf {
    grid-area: itemf;
}
